/* Reset some basic elements */
body, h1, textarea, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
/*body {
    position:relative;
    margin-top:20px;
    margin-left:-10px;
    margin-right:-10px;
    font-family: 'Arial', sans-serif;
    background: #edb1b1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width:450px;
    height:250px;
    padding:5px;
}



/* Container for the main content 
.container {
    background: #fff;
    padding:10px;
    border-radius:20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width:500px;
    max-width: 800px;
    margin-left:10px;
    margin-right: 10px; /* Centering the container *

}*/
body {
    position: relative;
    margin-top:20px;
    margin-left:-10px;
    margin-right:-10px;
    font-family: 'Arial', sans-serif;
    background: #edb1b1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px; /* Make the body full width */
    height: 100vh; /* Full height viewport */
    padding: 5px;
    box-sizing: border-box;
}

/* Container for the main content */
.container {
    background: #fff;
    padding:10px;
    border-radius:20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width:600px;
    margin-top:-100px;
    margin-left:-100px;
    margin-right:100px;
    border-left: 5px solid #ff69b4; /* Pink border on the left */
    border-right:5px solid #ff69b4; /* Pink border on the right */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

/* Optional: Add some styling for content inside the container */
.container p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
    margin-top: 0;
    color: #333;
}

/* Styling for the main heading */
.container h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Styling for the textarea */
#pageContent {
    visibility: hidden;
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    resize: vertical;
}

/* Container for the buttons */
.container2 {
    display: flex;
    justify-content: space-between;

    margin-top:20px;
}

/* Styling for the buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #F9E4D4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition:background 0.3s ease 0s;
    ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hover effect for buttons */
button:hover {
    background: #2980b9;
}

/* Focus effect for buttons */
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

/* Container for the response */
#response {
    position:absolute ;
    top:50px;
    background: #fff;
    padding:5px;
    border-radius: 8px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
    height:50px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Responsive styling */
@media (max-width: 600px) {
    .container2 {
        flex-direction: column;
    }

    button {
        margin-bottom: 10px;
        width: 100%;
    }

    button:last-child {
        margin-bottom: 0;
    }
}
#mainContainer{
    width:300px;
    height:400px;
}
.hidden{
    visibility: hidden;
}
#logoutButton {
    position: absolute;
    top:10px;
    width: 60px;
    height: 30px; 
    background-color: #ff69b4;
    color: #fff; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    padding: 0 10px; 
    font-family: 'Arial', sans-serif; 
}

#logoutButton:hover,#summarizeContent:hover,#askQuestion:hover{
    background-color: #0a0a0a; 
}
#summarizeContent{
    position: relative;
    margin-left:25em;
    
    margin-bottom:-77px;
    width: 100px;
    height: 30px; 
    background-color: #ff69b4;
    color: #fff; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    padding: 0 10px; 
    font-family: 'Arial', sans-serif; 
}
#askQuestion{
    position: relative;
    margin-left:20em;
    margin-bottom:-10;
    width: 60px;
    height: 30px; 
    background-color: #ff69b4;
    color: #fff; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    padding: 0 10px; 
    font-family: 'Arial', sans-serif; 
}